.flashy {
    text-align: center;
    padding: 12px 27px 12px 27px;
    color: white;
    background: linear-gradient(91.6deg, #3572F1 0%, #F24E95 100%) #F6B714;
    border-style: none;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }