.officePage {
    position: absolute;
    background: url(https://images.unsplash.com/photo-1556761175-4b46a572b786?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
    background-size: auto;
    width: 100%;
    height: 100%;
    background-position-x: -225px;
    background-position-y: -388px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;

    @media (min-width: 700px) {
        margin-right: 100px;

        .officeButtons {
            position: relative;
        }
    }

    .officeButtons {
        position: absolute;
        bottom: 150px;
        width: 100%;

        h3 {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;

            button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        .cardIcon {
            width: 153px;
            height: 115px;
            left: 20px;
            top: 523px;
            background: rgba(255, 255, 255, 0.6);
            box-sizing: border-box;
            backdrop-filter: blur(8px);
            text-align: center;
            border-radius: 10px;

            button {
                padding: 0;
                height: 100%;
            }

            img {
                margin: 10px;
            }
            .cardText {
                width: 100%;
                height: 73px;
                background: linear-gradient(91.6deg, #3572F1 0%, #F24E95 100%);
                border-radius: 0px 0px 10px 10px;
                padding-top: 20px;

                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
            }
        }
            
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                padding: 0;
            }
    }

    
}

.mapContainer {
    height: 696px;
    width: 100%;
    position: absolute;
    top: -388px;
}